<a href="https://colab.research.google.com/github/CoffeE23/ML-Projects/blob/main/Yash_Suchak_BVP_ML_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp

In [ ]:
data_set=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Bank_Customer_Churn_dataset.csv") #reading the csv file in data_set object

In [ ]:
data_set.head() #returns first few n rows

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
data_set.info() #gives summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
print(data_set['Geography'].value_counts()) #returns count of unique valyes of Geography column
print(data_set['Gender'].value_counts()) ##returns count of unique valyes of Gender column

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64
Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
data_set.isna().sum() #checks null values and returns sum of it

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

# Data Prepocessing

In [ ]:
data_set.drop(['RowNumber','CustomerId','Surname'], axis=1, inplace=True) #dropping unnecessary data from the dataset

In [ ]:
data_set.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
#Coverting to numerical values
from sklearn import preprocessing 
le=preprocessing.LabelEncoder() 
le.fit(data_set['Geography']) #Fit label Encoder
data_set['Geography']=le.transform(data_set['Geography']) #Fit label encoder and return encoded labels in Geography column

In [ ]:
#Coverting to numerical values
le=preprocessing.LabelEncoder()
le.fit(data_set['Gender']) #Fit label Encoder
data_set['Gender_Male']=le.transform(data_set['Gender']) #Fit label encoder and return encoded labels in Gender_Male column

In [ ]:
data_set.drop(['Gender'],axis=1,inplace=True)
data_set.head()

   CreditScore  Geography  Age  ...  EstimatedSalary  Exited  Gender_Male
0          619          0   42  ...        101348.88       1            0
1          608          2   41  ...        112542.58       0            0
2          502          0   42  ...        113931.57       1            0
3          699          0   39  ...         93826.63       0            0
4          850          2   43  ...         79084.10       0            0

[5 rows x 11 columns]

In [ ]:
X=data_set[['CreditScore','Geography','Gender_Male','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]
Y=data_set[['Exited']]

# Train-Test Split

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=0)
print("X train: ",X_train.shape)
print("X test: ",X_test.shape)
print("Y train: ",Y_train.shape)
print("Y test: ",Y_test.shape)

X train:  (6000, 10)
X test:  (4000, 10)
Y train:  (6000, 1)
Y test:  (4000, 1)

# Training Model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
Ypred=model.predict(X_test)

# Accuracy

In [ ]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(Y_test,Ypred)
acc

0.7835

In [ ]:
  from sklearn.metrics import confusion_matrix  
  cm= confusion_matrix(Y_test, Ypred)
  cm

array([[3082,   90],
       [ 776,   52]])

# KNN Algorithm

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors = 3)
model2.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
Ypred2=model2.predict(X_test)

In [ ]:
acc = accuracy_score(Y_test,Ypred2)
acc

0.73175

In [ ]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(Y_test, Ypred2)
cm

array([[2826,  346],
       [ 727,  101]])